<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout">
<meta charset="UTF-8" />

<html>

<head>

</head>

<body>

    Nome:
    <p th:text="${nome}"></p>
    Email:
    <p th:text="${email}"></p>
    CPF:
    <p th:text="${cpf}"></p>
    Sexo:
    <p th:text="${sexo}"></p>
    Modulo:
    <p th:text="${modulo}"></p>
    Area:
    <p th:text="${area}"></p>
    Senha:
    <p th:text="${senha}"></p>

</body>

</html>